<%- include("templates/headerTemplate") %>
<link rel="stylesheet" href="/CSS/aboutStyles.css">
<body>
    <div class="Container">
        <%- include("templates/navTemplate") %> 
        <main>
            <div>
                <h2> CURRENCY TRACKER WEB APP</h2>
            <p >This app serves as a web app tool to track currency rates and for up to a <br>
                certain number of currencies if you create an account. <br>
                It will also give you the option to notify you once your desired rate  <br>
                is the same as the current market rate of the currencies being chosen.   <br>
                This tool is mostly helpful for people who regularly send money abroad  <br><br>
                (Remittance) as we all know that forex rates tend to fluctuate all the time, <br>
                 it will help them to get the most of the money they send.  As another planned  <br>
                 feature we also want the user to be able find remittance centers with the most  <br>
                 affordable rates or maybe instead send money in the app itself.</p>
            </div>            
        </main>       
        <%- include("templates/footerTemplate") %>  
    </div>
</body>
</html>